/* your custom css */

/* Start: All pages */
body {
    overflow-y: scroll;
}
/* End: All pages */

/* Start: Navigation styling */
.navigationSlider .slidingNav ul li a {
    color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 1023px) {
    .navigationSlider .slidingNav ul li > a:focus,
    .navigationSlider .slidingNav ul li > a:hover,
    .navigationSlider .slidingNav ul li.siteNavItemActive > a,
    .navigationSlider .slidingNav ul li.siteNavGroupActive > a {
        background-color: #aa8800;
    }

    li.siteNavItemActive > a{
        background-color: #21371b !important;
    }
}

@media only screen and (min-width: 1024px) {
    .navigationSlider .slidingNav ul li > a:focus,
    .navigationSlider .slidingNav ul li > a:hover,
    .navigationSlider .slidingNav ul li.siteNavItemActive > a,
    .navigationSlider .slidingNav ul li.siteNavGroupActive > a,
    li.siteNavItemActive > a {
        background-color: #21371b;
    }
}
/* End: Navigation styling */

/* Start: Frontpage icons styling */
.gridBlock .imageAlignTop .blockImage {
    max-width: 200px;
    margin-bottom: 0;
}
/* End: Frontpage icons styling */

.podium-front-head {
    background-color: #21371b;
    color: #e7dacb;
}

.podium-front-head-logo {
    display: block;
}

.podium-front-head-text {
    color: #e7dacb;
}

.podium-front-button-wrapper .button {
    background-color: #e7dacb;
}

.podium-front-examples {
    background-color: #f3f3f3;
}

.copyrightLogo {
    display: block;
    width: 129px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.nav-footer {
    background-color: #21371b;
}

.post a {
    color: #8a916f;
    text-decoration: underline;
}