<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="/Podium/docs/assets/style.css" />
  <link type="text/css" rel="stylesheet" href="/Podium/docs/assets/pilcrow.css" />
  <link type="text/css" rel="stylesheet" href="/Podium/docs/assets/hljs-github.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css"/>
  <link rel="shortcut icon" href="/Podium/docs/assets/podium.png" type="image/x-icon">
</head>
<body>
  <header>
    <a class="logo" href="/Podium">
      <img class="podium" src="/Podium/docs/assets/podium.png">
      Podium
    </a>
    <div class="links">
      <a href="https://github.schibsted.io/Podium" target="_blank">GitHub</a>
    </div>
  </header>
  <div class="content">
    <nav>
      
      <h3>Podium</h3>
      <ul>
        <li><a href="/Podium/docs/podium/conceptual_overview.html">📚 Overview</a></li>
      </ul>
      
      <h3>Podlet</h3>
      <ul>
        <li><a href="/Podium/docs/podlets/getting_started.html">🚀 Getting Started</a></li>
        <li><a href="/Podium/docs/podlets/fallbacks.html">🔌 Fallbacks</a></li>
        <li><a href="/Podium/docs/podlets/proxying.html">🐠 Proxying</a></li>
        <li><a href="/Podium/docs/podlets/context.html">✂️ Context</a></li>
        <li><a href="/Podium/docs/podlets/assets.html">📦 Assets</a></li>
        <li><a href="/Podium/docs/podlets/local_development.html">🔥 Local Development</a></li>
      </ul>

      <!--
      <h2>Layouts</h2>
      <h3>📚 Guides</h3>
      <ul>
        <li><a href="layouts_getting_started.html">🚀 Getting Started</a></li>
      </ul>
      -->

      <h3>API Docs</h3>
      <ul>
        <li><a href="https://github.schibsted.io/Podium/podlet/blob/master/README.md">📚 Podlet</a></li>
        <li><a href="https://github.schibsted.io/Podium/layout/blob/master/README.md">📚 Layout</a></li>
        <li><a href="https://github.schibsted.io/Podium/context/blob/master/README.md">📚 Context</a></li>
        <li><a href="https://github.schibsted.io/Podium/proxy/blob/master/README.md">📚 Proxy</a></li>
        <li><a href="https://github.schibsted.io/Podium/client/blob/master/README.md">📚 Client</a></li>
      </ul>
    </nav>
    <main class="markdown-body">
      {{~> content}}
    </main>
  </div>
  <script>
    (function () {
      var pathname = window.location.pathname.substr(1);
      var activeLink = document.querySelector('a[href="' + pathname + '"]');

      activeLink.classList.add('selected');
    })();
  </script>
</body>
</html>
