<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <title>Podium - {{title}}</title>
    <link type="text/css" rel="stylesheet" href="/docs/assets/style.css" />
    <link type="text/css" rel="stylesheet" href="/docs/assets/pilcrow.css" />
    <link type="text/css" rel="stylesheet" href="/docs/assets/hljs-github.min.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css"
    />
    <link rel="shortcut icon" href="/docs/assets/favicons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/docs/assets/favicons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/docs/assets/favicons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/docs/assets/favicons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/docs/assets/favicons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/docs/assets/favicons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/docs/assets/favicons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/docs/assets/favicons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/docs/assets/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/docs/assets/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/docs/assets/favicons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/docs/assets/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/docs/assets/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/docs/assets/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/docs/assets/favicons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/docs/assets/favicons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header>
      <a class="logo" href="/">
        <img class="podium" src="/docs/assets/podium.png" alt="Podium logo illustrates a group of podlets as circles" />
        Podium
      </a>
      <div class="links">
        <a href="https://github.com/podium-lib/issues/issues">Issues</a>
        <a href="https://github.com/podium-lib" target="_blank">GitHub</a>
      </div>
    </header>
    <div class="content">
      <nav class="main-navigation">
        <h3>Podium</h3>
        <ul>
          <li><a href="/docs/podium/conceptual_overview.html">📚 Overview</a></li>
        </ul>

        <h3>Podlet Guides</h3>
        <ul>
          <li><a href="/docs/podlets/getting_started.html">🚀 Getting Started</a></li>
          <li><a href="/docs/podlets/fallbacks.html">🔌 Fallbacks</a></li>
          <li><a href="/docs/podlets/context.html">✂️ Context</a></li>
          <li><a href="/docs/podlets/proxying.html">🐠 Proxying</a></li>
          <li><a href="/docs/podlets/local_development.html">🔥 Development</a></li>
        </ul>

        <h3>Layout Guides</h3>
        <ul>
          <li><a href="/docs/layouts/getting_started.html">🚀 Getting Started</a></li>
          <li><a href="/docs/layouts/context.html">✂️ Context</a></li>
          <li><a href="/docs/layouts/unavailable_podlets.html">🔌 Unavailable Podlets</a></li>
          <li><a href="/docs/layouts/dynamic_routes.html">🐠 Dynamic Routes</a></li>
          <li><a href="/docs/layouts/assets.html">📦 Assets</a></li>
          <li><a href="/docs/layouts/local_development.html">🔥 Development</a></li>
        </ul>

        <h3>API Docs</h3>
        <ul>
          <li><a href="https://github.com/podium-lib/podlet/blob/master/README.md">📚 Podlet</a></li>
          <li><a href="https://github.com/podium-lib/layout/blob/master/README.md">📚 Layout</a></li>
          <li><a href="https://github.com/podium-lib/context/blob/master/README.md">📚 Context</a></li>
          <li><a href="https://github.com/podium-lib/proxy/blob/master/README.md">📚 Proxy</a></li>
          <li><a href="https://github.com/podium-lib/client/blob/master/README.md">📚 Client</a></li>
        </ul>
      </nav>
      <main class="markdown-body">
        {{~> content}}
      </main>
    </div>
    <script>
      (function() {
        var pathname = window.location.pathname.substr(1);
        var activeLink = document.querySelector('a[href$="' + pathname + '"]');

        activeLink.classList.add('selected');
      })();
    </script>
  </body>
</html>
